body {
  font-family: "raleway", sans-serif;
}

#main-navbar {
  background-color: #3a0f2b;
  border-bottom: 5px solid lightpink;
}

i,
a {
  color: whitesmoke;
}

i:hover,
a:hover {
  color: lightpink;
}

#jumbotron-text {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 0.4em;
  font-size: 60px;
}

.card-img {
  opacity: 47%;
}

#main-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
}

.about-me,
.my-work,
.resume {
  font-family: "poppins", sans-serif;
  background-color: whitesmoke;
  color: #3a0f2b;
  text-align: center;
}

.horizontal-line {
  border-top: 3px solid lightpink;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.bio,
.skills-list,
.resume {
  font-family: "raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.project-list {
  padding-bottom: 30px;
  width: 1000px;
  font-family: "raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.skills {
  font-family: "poppins", sans-serif;
  background-color: #3a0f2b;
  color: whitesmoke;
  text-align: center;
}

.btn {
  color: #3a0f2b;
  border-radius: 10px;
  border: 0.5px solid #3a0f2b;
}

.btn:hover {
  background-color: lightpink;
  color: #3a0f2b;
  border: 0.5px solid lightpink;
}

.sticky-footer {
  text-align: center;
  background-color: #3a0f2b;
  color: whitesmoke;
  border-top: 8px solid lightpink;
  height: 80px;
}

@media (min-width: 768px) {
  .bio {
    width: 750px;
  }
}
@media (max-width: 768px) {
  .project-list {
    width: auto;
  }
}

@media (max-width: 576px) {
  .project-list {
    width: auto;
  }
}
