body {
  font-family: "raleway", sans-serif;
  position: relative;
}

nav {
  background-color: #d5d9dd;
  border-bottom: 5px solid #f3cfd0;
  transition: background 0.5s;
}

nav.scrolled {
  background-color: #bcbcbf;
}

i,
a {
  color: whitesmoke;
}

i:hover,
a:hover {
  color: #f3cfd0;
  text-decoration: none;
  transition: filter 0.5s ease;
}

.scroll-text {
  font-size: 18px;
}

.fa-arrow-circle-down {
  color: #f3cfd0;
}
.fa-arrow-circle-down:hover {
  color: #ea6f7b;
}

.fa-arrow-circle-down::after {
  color: #ea6f7b;
}

.navbar-toggler {
  background-color: whitesmoke;
}

.navbar-toggler:hover {
  background-color: #f3cfd0;
}

#jumbotron-text {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: #ea6f7b;
  letter-spacing: 0.4em;
  font-size: 60px;
}

#main-text {
  text-align: center;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.1em;
  color: #ea6f7b;
}

.about-me,
.my-work,
.resume {
  font-family: "poppins", sans-serif;
  background-color: whitesmoke;
  color: #ea6f7b;
  text-align: center;
  padding-bottom: 80px;
  padding-top: 80px;
}

.horizontal-line {
  border-top: 3px solid #f3cfd0;
  width: 20%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.active {
  font-weight: bold;
  color: #f6ada8;
}

.bio,
.skills-list,
.resume {
  font-family: "raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.project-list {
  padding-bottom: 30px;
  font-family: "raleway", sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img-port {
  border-radius: 5%;
  filter: grayscale(100%);
  margin: 10px;
  cursor: pointer;
}

.img-port:hover {
  transition: filter 0.5s ease;
  filter: grayscale(0%);
}

.skills {
  font-family: "poppins", sans-serif;
  background-color: #bcbcbf;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 80px;
}

#bio::before,
#skills::before,
#mywork::before,
#contact::before {
  display: block;
  content: " ";
  margin-top: -105px;
  height: 105px;
  visibility: hidden;
}

.fa-arrow-down {
  color: #ea6f7b;
}

.btn {
  background-color: #f3cfd0;
  color: #ea6f7b;
  border-radius: 10px;
}

.btn:hover {
  background-color: #f6ada8;
  color: #ea6f7b;
  transition: filter 0.2s ease;
}
/* CHANGE */
.project-underline {
  position: absolute;
  top: 10%;
  left: 40%;
  border-top: 3px solid #f6cfca;
  width: 20%;
}

.mod-head {
  text-align: center;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
  font-size: 25px;
}

.mod-btn {
  color: #ea6f7b;
}

.mod-btn:hover {
  color: #ea6f7b;
}

.modal-content {
  background-color: whitesmoke;
  border-radius: 5%;
}

.modal-footer {
  justify-content: center;
  border-top: 0 none;
  margin-bottom: 20px;
}

.mod-pic {
  height: 150px;
  width: 300px;
}

.icon-html5,
.icon-javascript-alt,
.icon-nodejs,
.icon-database {
  color: #ffe8e5;
}

.sticky-footer {
  text-align: center;
  background-color: #d5d9dd;
  color: whitesmoke;
  border-top: 8px solid #f3cfd0;
  height: 90px;
}

@media (min-width: 768px) {
  .bio {
    width: 750px;
  }
}
@media (max-width: 768px) {
  .project-list {
    width: auto;
  }
  #icon-row {
    display: grid;
  }

  #jumbotron-text {
    font-size: 45px;
  }

  #main-text {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .project-list {
    width: auto;
  }
  #icon-row {
    display: grid;
  }
  #jumbotron-text {
    font-size: 45px;
  }

  #main-text {
    font-size: 20px;
  }
}
